<template>
    <div>
        <h3 class="text-center">Vehicles</h3><br/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="vehicle in vehicles" :key="vehicles.MakeId">
                <td>{{ vehicle.MakeName }}</td>
                <td>{{ vehicle.status === 1 ?'Checked Out':'Available'}}</td>
                <td>
                    <div class="btn-group" role="group" v-if ="vehicle.status">
                        <router-link :to="{name: 'edit', params: { id: vehicle.MakeId ,make_name: vehicle.MakeName}}" class="btn btn-primary">Edit
                        </router-link>
                    </div>
                    <div class="btn-group" role="group" v-if ="vehicle.status === 0">
                        <router-link :to="{name: 'book', params: { id: vehicle.MakeId,make_name: vehicle.MakeName}}" class="btn btn-primary">Book
                        </router-link>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            vehicles: []
        }
    },
    created() {
        this.axios
            .get(process.env.MIX_APP_URL + '/api/vehicles')
            .then(response => {
                this.vehicles = response.data;
            });
    }
}
</script>
