<template>
    <div>
        <h3 class="text-center">Book {{make_name}}</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addBook">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text"  class="form-control" v-model="vehicle.name">
                        <small class ='text-danger' v-if="errors.name" >{{ errors.name[0] }} </small>
                    </div>

                    <div class="form-group">
                        <input type="hidden"  class="form-control" v-model="vehicle.make_id">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select v-model="vehicle.type"  class="form-control">
                            <option disabled value="">Please select one</option>
                            <option value = "0">Test Drive</option>
                            <option value = "1">Loan</option>
                        </select>
                        <small class ='text-danger'  v-if="errors.type"  >{{ errors.type[0] }} </small>
                    </div>

                    <div class="form-group">
                        <label>Check Out Date</label>
                        <input type="datetime-local"  class="form-control" v-model="vehicle.checkout_timestamp">
                        <small class ='text-danger'  v-if="errors.checkout_timestamp" >{{ errors.checkout_timestamp[0] }} </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm Book</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        make_name: String,
        id : Number
    },
    data() {
        return {
            vehicle: {
                make_id : this.id

            },
            errors : {
                name : [

                ],
                type : [

                ],
                checkout_timestamp :[

                ]


            }
        }
    },
    methods: {
        addBook() {
            this.axios
                .post(process.env.MIX_APP_URL +'/api/order', this.vehicle)
                .then(response => (
                    this.$alert(response.data.message),
                    this.$router.push({name: 'home'})
                    // console.log(response.data)
                ))
                .catch(e => {
                    this.errors = e.response.data.message || '';
                })
                .finally(() => this.loading = false)
        }
    }
}
</script>
