<template>
    <div>

        <h3 class="text-center">Edit {{make_name}}</h3>

        <div class="col-md-6">
            <form @submit.prevent="updateBook">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text"  class="form-control " v-model="vehicle.name">
                    <small class ='text-danger'  v-if="errors.name"  >{{ errors.name[0] }} </small>
                </div>

                <div class="form-group">
                    <input type="hidden"  class="form-control"  v-model="vehicle.make_id">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select v-model="vehicle.type"  class="form-control">
                        <option disabled value="">Please select one</option>
                        <option value = "0">Test Drive</option>
                        <option value = "1">Loan</option>
                    </select>
                    <small class ='text-danger' v-if = "errors.type"  >{{ errors.type[0]  }} </small>
                </div>

                <div class="form-group">
                    <label>Return Date & Time</label>
                    <input type="datetime-local"  class="form-control" v-model="vehicle.return_timestamp">
                    <small class ='text-danger' v-if = "errors.return_timestamp"  >{{ errors.return_timestamp[0]  }} </small>
                </div>

                <div class="form-group">
                    <label>Condition</label>
                    <input type="text" class="form-control" v-model="vehicle.condition" >
                    <small class ='text-danger' v-if = "errors.condition"  >{{ errors.condition[0]  }} </small>
                </div>

                <div class="form-group">
                    <label>Check Out Date</label>
                    <input type="datetime-local"  class="form-control" v-model="vehicle.checkout_timestamp">
                    <small class ='text-danger' v-if = "errors.checkout_timestamp"  >{{ errors.checkout_timestamp[0]  }} </small>
                </div>
                <button type="submit" class="btn btn-primary">Update Book</button>
            </form>
        </div>
    </div>

</template>

<script>
export default {
    props: {
        make_name: {
            type :  String
        }
    },
    data() {
        return {
            vehicle: {},
            errors : {
                name : [],
                type : [],
                checkout_timestamp :[],
                return_timestamp : [],
                condition :[]

            }

        }
    },
    created() {
        this.axios
            .get(process.env.MIX_APP_URL +`/api/order/${this.$route.params.id}`)
            .then((response) => {
                this.vehicle = response.data.payload;
            });
    },
    methods: {
        updateBook() {
            this.axios
                .put(process.env.MIX_APP_URL+`/api/order/${this.$route.params.id}`, this.vehicle)
                .then((response) => {
                    this.$alert(response.data.message),
                    this.$router.push({name: 'home'});
                })

                .catch(e => {
                    this.errors = e.response.data.message || '';



                    // when you throw error this will also fetch error.

                });

        }
    }
}
</script>
